.App {
  text-align: center;
  display: grid;
}

.App-logo {
  height: 11vmin;
  pointer-events: none;
  border: 1px solid;
}

.App-name {
  height: 11vmin;
  pointer-events: none;
  padding-left: 200px;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 13, 13);
}

.all{
  display: grid;
  right:0;
  bottom: 0;
  width: auto;
  height: 9%;
  margin-left: 300px;
}

.App-link {
  color: #61dafb;
}



