.App {
  text-align: center;
  display: grid;
}

.App-logo {
  height: 85px;
  pointer-events: none;
}

.App-name {
  height: 85px;
  pointer-events: none;
  padding-left: 200px;
}

/* .App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(236, 13, 13);
} */

.all{
  left: 300px;
  width: calc(100% - 300px);
  height: calc(100% - 85px);
  position:absolute;
}

.App-link {
  color: #61dafb;
}



